<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GM PROJECT</title>
    <link rel="icon" type="image/png" href="~/Assets/Images/icon.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container">
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-center">
                    <div class="navbar-nav" style="gap:5px">
                        <img src="~/Assets/Images/code.png" height="40" width="40" alt="GM Icon" />
                        <a href="#" class="navbar-brand">GM</a>
                    </div>

                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.Partial("_Authenticated");
                    }
                    else
                    {
                        @Html.Partial("_Anonymous")
                    }

                </div>
            </div>
        </nav>
    </header>

    <main class="container body-content">
        @RenderBody()
    </main>

    <footer class="container body-content">
        <p>&copy; Copyright @DateTime.Now.Year - Gonçalo Marques</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@

    @RenderSection("scripts", required: false)
</body>
</html>