@model IQueryable<UserManagement.DAL.Models.Users.UserRole>

@{
    ViewBag.Title = "Roles Management";
}

<style>

    /*    #manageRoles {
        width: 80%;
        margin: 0 auto;
    }*/

    #manageRoles_header {
        text-align: center;
    }

        #manageRoles_header > div > div {
            border-bottom: 1px #dddddd solid;
        }

    #grid_roles > thead {
        text-align: center;
    }

        #grid_roles > thead > tr th:nth-child(2) {
            width: 400px;
        }

    button {
        width: 100px;
    }

    #grid_roles > tbody > tr td:nth-child(2) {
        text-align: center;
    }
</style>

<section id="manageRoles">

    <div id="manageRoles_header">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </div>

    <br />

    <div id="manageRoles_content">

        <div id="table_header">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <button id="btnCreate" class="btn btn-success" type="button">Add Role</button>
                    @*<button id="btn-create" class="btn btn-success" type="button">@Html.ActionLink("Add Role", "Create", "UserRoles", new { @class = "nav-link" })</button>*@
                </div>
            </div>
        </div>

        <br />

        <div id="table-content">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="table-responsive align-content-md-center">

                        <table id="grid_roles" class="table table-bordered table-hover table-striped">

                            <thead class="table-dark border-white">
                                <tr>
                                    <th scope="col">@Html.DisplayNameFor(model => model.First().RoleType)</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var role in Model)
                                {
                                    <tr class="table-active">
                                        <td class="align-content-center">@role.RoleType.ToString()</td>
                                        <td>
                                            <button class="btnEdit btn btn-secondary" type="button" data-id="@role.UserRoleId">Edit</button>
                                            <button class="btnDelete btn btn-danger" type="button" data-id="@role.UserRoleId">Delete</button>
                                            @*<button id="btn-edit" class="btn btn-secondary" type="button">@Html.ActionLink("Edit", "Edit", "UserRoles", new { id = role.UserRoleId }, new { @class = "nav-link" })</button>*@
                                            @*<button id="btn-delete" class="btn btn-danger" type="button">@Html.ActionLink("Delete", "Delete", "UserRoles", new { id = role.UserRoleId }, new { @class = "nav-link" })</button>*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<div id="modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!-- O conteúdo do modal será carregado aqui -->
        </div>
    </div>
</div>

@section Scripts {

    <script>

        // CREATE - Abrir o modal para criar um Role
        $("#btnCreate").click(function () {
            $.ajax({
                url: "/UserRoles/Create",
                type: "GET",
                success: function (data) {
                    $("#modal .modal-content").html(data);  // Carrega o conteúdo no modal

                    // Inicializa o modal de forma clara
                    var modalElement = document.getElementById('modal');
                    var modal = new bootstrap.Modal(modalElement);

                    // Exibe o modal
                    modal.show();
                },
                error: function () {
                    alert("Error to load modal.");
                }
            });
        });


        // EDIT - Abrir o modal para editar um Role
        $(".btnEdit").click(function () {

            var roleId = $(this).attr("data-id"); // Obtém o ID

            //alert(roleId)

            $.ajax({
                url: "/UserRoles/Edit/",
                type: "GET",
                data: { id: roleId },
                success: function (data) {
                    $("#modal .modal-content").html(data);  // Carrega o conteúdo no modal

                    // Inicializa o modal de forma clara
                    var modalElement = document.getElementById('modal');
                    var modal = new bootstrap.Modal(modalElement);

                    // Exibe o modal
                    modal.show();
                },
                error: function () {
                    alert("Error to load modal.");
                }
            });
        });

        // EDIT - Abrir o modal para editar um Role
        $(".btnDelete").click(function () {

            var roleId = $(this).attr("data-id"); // Obtém o ID

            //alert(roleId)

            $.ajax({
                url: "/UserRoles/Delete/",
                type: "GET",
                data: { id: roleId },
                success: function (data) {
                    $("#modal .modal-content").html(data);  // Carrega o conteúdo no modal

                    // Inicializa o modal de forma clara
                    var modalElement = document.getElementById('modal');
                    var modal = new bootstrap.Modal(modalElement);

                    // Exibe o modal
                    modal.show();
                },
                error: function () {
                    alert("Error to load modal.");
                }
            });
        });

    </script>
}