@model IQueryable<UserManagement.DAL.Models.Users.UserRole>

@{
    ViewBag.Title = "Roles";
}

<section class="" aria-labelledby="aspnetTitle">

    <div class="row">
        <h2>@ViewBag.Title</h2>
    </div>

    <br />

    <div class="table-responsive">
        <button class="btn btn-success" type="button">@Html.ActionLink("Add Role", "Create", "UserRoles", new { @class = "nav-link" })</button>

        <table class="table table-hover table-striped">

            <thead class="table-dark">
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().RoleType)</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model)
                {
                    <tr class="table-active">
                        <td>@role.RoleType.ToString()</td>
                        <td>
                            <button class="btn btn-secondary" type="button">@Html.ActionLink("Edit", "Edit", "UserRoles", new { id = role.UserRoleId }, new { @class = "nav-link" })</button>
                            <button class="btn btn-danger" type="button">@Html.ActionLink("Delete", "Delete", "UserRoles", new { id = role.UserRoleId }, new { @class = "nav-link" })</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
