@model UserManagement.DAL.Models.Users.UserProfile

@{
    ViewBag.Title = "Profile";
}

<section class="" aria-labelledby="aspnetTitle">
    <div class="row">
        <h2>@ViewBag.Title</h2>
    </div>

    <br />

    <div class="">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.FirstName)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.LastName)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Gender)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.DateOfBirth)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.ImageUrl)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.FirstName</td>
                    <td>@Model.LastName</td>
                    <td>@Model.Gender</td>
                    <td>@Model.DateOfBirth.Date.ToShortDateString()</td>
                    <td>
                        @Html.Raw(string.IsNullOrEmpty(Model.ImageUrl) ? "&#128527;" : $"<img src='{Model.ImageUrl}' height='40' width='40' alt='Profile Image' />")
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>