@model UserManagement.Web.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Reset password";
}

<style>
    .resetpw-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

        .resetpw-container * {
            width: 350px;
        }

        .resetpw-container #reset-title {
            text-align: center;
        }

        .resetpw-container form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        .resetpw-container input {
            background-color: rgba(240, 240, 240, 0.9);
        }
</style>

<section class="resetpw-container">
    <div id="reset-title" class="text-uppercase">
        <h2>@ViewBag.Title</h2>
        <small>Type your e-mail to recover your password. You will receive an e-mail with instructions.</small>
    </div>

    <br />
    <div class="row">
        @using (Html.BeginForm("ForgotPassword", "UserLogins", new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "form-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail account" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success fw-bold text-uppercase">Reset</button>
            </div>
        }
    </div>
</section>


