@model UserManagement.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Log In";
}

<style>
    .half-btn {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        gap: 2px;
    }

        .half-btn a {
            width: 149px;
            text-align: center;
            align-content: center;
        }

    .btn-outline-secondary {
        color: black;
        background-color: lightgray;
        border-color: lightgray;
    }
</style>

<section class="forms-container">
    <div class="row">
        <h1 class="text-uppercase">@ViewBag.Title</h1>
    </div>
    <br />
    <div class="row">
        @using (Html.BeginForm("Login", "UserLogins", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "form-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", autocomplete = "off", placeholder = "Username" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger small" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "form-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger small" })
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success fw-bold text-uppercase">Sign in</button>
            </div>

            <div class="form-group">
                <div class="half-btn">
                    <a id="RegisteUser" class="btn btn-outline-secondary btn-sm" href="@Url.Action("Register", "UserLogins")">Sign Up</a>
                    <a id="ChangePassword" class="btn btn-outline-secondary btn-sm" href="@Url.Action("ForgotPassword", "UserLogins")">Forgot password?</a>
                </div>
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger small" })
        }
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}